<div class="container">
  <div class="row" data-product-id="<%= @product.id %>">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>
      <br>
      <%= image_tag @product.image_url ,class: "img-zoom img-fluid", data_zoom_image: @product.image_url %> 
      <p>
        <strong>color:</strong>
        <%= @product.color %>
      </p>
      <p>
        <strong>price:</strong>
        <%= @product.price %>
      </p> 
  
      <p>Average Rating: <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div> </p>
        <%= form_with(url: '/payments/create') do |form| %>
          <%= render partial: "shared/stripe_checkout_button" %>
          <%= form.hidden_field :product_id, value: @product.id %>
        <% end %>
        <br>
  
        <%= render 'new_comment' %>
        <div class='alert alert-info' style='display:none' role='alert'>A new comment was posted!
        </div>
        <%= render 'comments' %>
        <br>
        <div>
          <%= will_paginate @comments,  next_label: '&raquo;', previous_label: '&laquo;' %>
        </div>  
      <p>
      <br>
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
      
    </div>
  </div>
  
</div>
